<main class="main">
  <div class="content">
    <h1>{{ title }}</h1>

    <div *ngIf="isLoggedIn; else loginSection">
      <nav>
        <a style="padding: 0.5em" href="/diaries">Diaries</a>
        <button
          style="
            padding: 0.5em;
            background-color: rgb(46, 46, 200);
            color: white;
            border-color: rgb(46, 46, 200);
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
          "
          (click)="logout()"
        >
          Logout
        </button>
      </nav>
    </div>

    <ng-template #loginSection>
      <nav>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </nav>
    </ng-template>
  </div>
</main>

<router-outlet></router-outlet>
